<p id="notice"><%= notice %></p>

<h3 class="min-margin"> Alumnos </h3>
<hr/>
<div class="form-row min-margin">
  <div class="min-margin">
    <label class="control-label">Año de Cursada</label>
  </div>
  <%= form_with url: students_path, method: :get, local: true do |e| %>
    <div class="col-md-6 min-margin">
      <%= collection_select(:course, :course_id, Course.all, :id, :anio,  {:include_blank => "Cursadas"}, {:class=>'btn btn-secondary dropdown-toggle'}) %>
    </div>
    <div class="col-md-6 min-margin">
      <%= e.submit "Filtrar", class: "btn btn-default btn-primary" %>
    </div>
  <% end %>
</div>
<hr/>
<div class="min-margin">
  <%= button_to "Agregar Estudiante", new_student_path, :method => :get, class: "btn btn-primary min-margin right"%>
</div>

<table class="table table-striped table-sm table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>DNI</th>
    <th>Número de Legajo</th>
    <th>Año de Cursada</th>
    <th>Correo Electrónico</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.surname %></td>
      <td><%= student.dni %></td>
      <td><%= student.student_number %></td>
      <td><%= student.course.anio %></td>
      <td><%= student.email %>
      <td><%= button_to "Editar", edit_student_path(student.id), :method => :get, class: "btn btn-sm btn-info" %>
      <td><%= link_to "Eliminar", student_path(student), remote: true, :method => :delete,
                      data: {confirm: "Quiere eliminar este estudiante: #{student.id} "}, :class => 'btn btn-sm btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

