<p id="notice"><%= notice %></p>

<h3 class="min-margin">Resultados</h3>
<hr/>
<table class="table table-striped table-sm table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Año de Cursada</th>
    <th>Evaluación</th>
    <th>Fecha de Evaluacion</th>
    <th>Nota</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @evaluation_results.each do |evaluation_result| %>
    <tr>
      <td><%= evaluation_result.student.name %></td>
      <td><%= evaluation_result.student.surname %></td>
      <td><%= evaluation_result.evaluation.course.anio %></td>
      <td><%= evaluation_result.evaluation.title %></td>
      <td><%= evaluation_result.evaluation.evaluation_date %> </td>
      <td>
        <a data-toggle="tooltip" title="Editar Nota">
          <%= best_in_place evaluation_result, :note, :as => :input, :inner_class => 'input-align-center', :html_attrs => { size: 3} %>
        </a>
      </td>
      <td><%= link_to 'Eliminar', evaluation_result_path(evaluation_result), remote: true, :method => :delete,
                      data: {confirm: "Quiere eliminar este resultado: #{evaluation_result.id} "}, :class => 'btn btn-sm btn-danger' %>    </tr>
  <% end %>
  </tbody>
</table>

