<!DOCTYPE html>
<html>
<head>
  <title>TtpsRuby2017</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cursadas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses">Cursadas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/evaluations">Evaluaciones</a>
            <a class="dropdown-item" href="/students">Alumnos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/evaluation_results">Resultados</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/evaluation_result_reports">Resultados por Cursada</a>
          </div>
        </li>
        </ul>
      <% end %>
      <% if user_signed_in? %>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuario: <%= current_user.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a><%= link_to('Logout', destroy_user_session_path, method: :delete, :class=> "dropdown-item") %> </a>
              </div>
            </li>
          </ul>
          <% else %>
            <li class="nav-item active">
              <a><%= link_to('Login', new_user_session_path, method: :get) %></a>
            </li>
          <% end %>
      </form>
      </div>
</nav>

<body>
<div class="main_div .container-fluid">
  <%= yield %>
</div>
</body>
</html>
